@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* https://colorhunt.co/palette/ff204ea0153e5d0e4100224d */

/*
#FF204E            lighter
#A0153E
#5D0E41
#00224D            darker
*/

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    color: White;

    background-color: rgb(168, 168, 0);
}

.outer-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem;
    border-radius: 2rem;
}

.flex-inner{
    display: flex;
    flex-direction: column;
}

.item{
    margin: 0.5rem;
    padding: 0.3rem;
}